$common-border: 2px solid gray;
$common-padding: 10px;
$common-color: dodgerblue;
$common-margin:10px;

*{
    box-sizing: border-box;

}
.emp_view_root{
    padding: $common-padding;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: $common-padding;
    background-color: rgba(211, 211, 211, 0.438);
   
}
.profile_div, .company_div, .education_div{
    display: flex;
    background-color:#ffffff;
    width: 30%;
    flex-direction: column;
    gap: 10px;
    padding:$common-padding;
    margin: $common-margin;
    button{
        border: none;
        background: dodgerblue;
        font-weight: 600;
        padding: 7px 0px;
        color: #ffffff;
    
    }
    .profile_child, .company_child, .education_child{
        border-bottom: $common-border;
        h5{
            margin:$common-margin;
        }
        p{
            padding:$common-padding;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.767);
        }
    }
}
.company_div{
    width: 40%;
}