$common-border: 0.5px solid gray;
$common-padding: 4px;
$common-color: dodgerblue;

.main_edit_employee {
  // backdrop-filter: blur(1px);
  backdrop-filter: invert(30%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
 
}

.edit_emplyee {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 50%;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  .fixed_header{
    h3{

        display: flex;
        justify-content: space-between;
        padding: 20px;
        border-bottom: 1px solid gray;
    }
  }
 

  .input_div {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: $common-padding;


    span {
      margin: 5px;
    }

    
    select {
      border: $common-border;
      padding: $common-padding;
      margin: 5px;
      width: 98%;
      background-color: transparent;
    }

    button {
      width: 400px;
      background: none;
      color: $common-color;
      border: none;
      text-align: start;

      h3 {
        margin: $common-padding;
        font-weight: 600;
      }
    }
  }
}
