// Common variables
$common-border: 0.5px solid gray;
$common-padding: 4px;
$common-color: dodgerblue;

.main_edit_employee {
  // backdrop-filter: blur(1px);
  backdrop-filter: invert(30%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.edit_emplyee {
  padding: 10px;
  display: flex;
  flex-direction: column;
  width: 700px;
  height: 500px;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  top: 50%;
  background-color: white;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  button {
    background: none;
    border: none;
    padding: 10px;
    width: 50px;
    svg {
      width: 23px;
      height: 23px;
      color: $common-color;
      font-weight: 600;
    }
  }
  h6,
  h5,
  h3,
  h4 {
    margin: 3px;
  }

  .input_div {
    display: flex;
    flex-direction: column;
    margin: 3px;
    padding: $common-padding;
    h5 {
      color: gray;
    }

    span {
      margin: 5px;
    }

    input,
    select {
      border: $common-border;
      padding: $common-padding;
      margin: 5px;
      background-color: transparent;
    }

    button {
      width: 400px;
      background: none;
      color: $common-color;
      border: none;
      text-align: start;

      h3 {
        margin: $common-padding;
        font-weight: 600;
      }
    }
  }
  .save_button {
    button {
      padding: 5px;
      width: 100px;
      font-size: 15px;
      font-weight: 600;
      color: white;
      background: dodgerblue;
      border: none;
      border-radius: 5px;
    }
  }
}
